# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.venv/
.venv-1/
venv/

# Gmail / Secrets
credentials.json
credentials.json.json
token.json
.env
*.env

# Logs
logs/
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
desktop.ini

# Temporary files
*.tmp
*.temp
